{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en" data-theme = 'Dark'>#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>  {% block title %}  {% endblock %}</title>#}
{#    <link rel="stylesheet" href="{% static 'css/main.css'%}">#}
{#</head>#}
{##}
{#<body>#}
{##}
{#        {% include 'parshals/header.html' %}#}
{#        <div class="main_counteinr">#}
{#            {% block content  %} {% endblock %}#}
{#        </div>#}
{#        {% include 'parshals/sidebar.html' %}#}
{##}
{#</body>#}
{#</html>#}

{% load static %}
<!DOCTYPE html>
<html lang="fa" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | My Blog</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'parshals/header.html' %}

    <div class="layout">
        {% include 'parshals/sidebar.html' %}
        <main class="main-container">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
