{#{% extends '../base.html' %}#}
{#{% load blog %}#}
{#{% block title %}#}
{#Post man#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{##}
{#    <div class="list_countainer width_100">#}
{##}
{#       <div class="list_content width_100 center">#}
{#                {% for post in posts %}#}
{#                     <a href="{% url 'project1:inner_post' post.id %}">#}
{#                     <br>#}
{#                     {{ post.title|upper_case }}#}
{#                     </a>#}
{#               {% endfor %}#}
{#       </div>#}
{##}
{#       <div class="list_footer width_100 center" >#}
{#            {% include 'parshals/pagination.html' %}#}
{#       </div>#}
{##}
{##}
{#    </div>#}
{##}
{##}
{##}
{#{% endblock %}#}

{% extends '../base.html' %}
{% load blog %}

{% block title %}لیست پست‌ها{% endblock %}

{% block content %}
<div class="post-list-container">
    {% for post in posts %}
    <a href="{% url 'project1:inner_post' post.id %}" class="post-card">
        <h2>{{ post.title|upper_case }}</h2>
    </a>
    {% empty %}
    <p class="empty-msg">هیچ پستی یافت نشد.</p>
    {% endfor %}

    <div class="pagination-wrapper">
        {% include 'parshals/pagination.html' %}
    </div>
</div>
{% endblock %}

